DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_NAME=dbname
DB_HOST=dbhost
DB_PORT=5433

REDIS_HOST=redishost
REDIS_PORT=6379

AUTH_SERVER_URI=uri
AUTH_CLIENT_ID=clientid
AUTH_CLIENT_SECRET=clientsecret
AUTH_AUDIENCE=audience